.ReactModalPortal{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  z-index: 9999; /* Ensure the modal is above everything else */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Center the iframe inside the modal */
.ReactModalPortal iframe {
  width: 100%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
}
.pano-box {
    width: 800px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    /* overflow: visible; */
    cursor: default;
    position: relative;
  }
  .annotation {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
  }
  .hotspot {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
  }
   
   .hotspot__inner {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
   }
   
   .hotspot__text {
    pointer-events: none;
   }
  #pano {
    width: 100%;
    height: 100%;
    position: relative; /* Ensure the panorama container is positioned */
    z-index: 1
  }
  button {
    display: inline-block;
  }
  .button{
    display: block; /* Stack buttons vertically */
    margin: 10px 0;
    margin-right: 10px; /* Space out buttons */
    padding: 5px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Show a pointer on hover */
    visibility: visible; /* Make sure buttons are visible */
    opacity: 1; /* Full opacity */
    z-index: 5; /* Ensure buttons are on top */
  }
  .button-container {
    /* z-index: 10; */
    /* position: absolute; */
    /* bottom: 10px; Position it at the bottom */
    /* left: 50%; Center horizontally */
    /* transform: translateX(-50%); Center horizontally */
    /* display: flex; Use flexbox for layout */
    /* justify-content: center; Center flex items */
    position: absolute; /* Position absolutely within the relative container */
    top: 50%; /* Center vertically in the viewer */
    transform: translateY(-50%); /* Offset the container by half its height */
    right: 10px; /* Position to the right side of the viewer */
    z-index: 100; /* Ensure it's above the viewer */
  }
  .parent-element {
    overflow: visible;
}
  /* #pano canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  } */

  
  #pano > div:first-child {
    display: block;
  }
  
  .nav-bar {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; */
  }
  
  .nav-left {
    display: flex;
    align-items: center;
  }
  
  .nav-left select {
    margin-left: 10px;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-right .dropdown-container {
    border: 1px solid #3a88cc;
    border-radius: 4px;
    background-color: #ffffff;
  }
  
  .active {
    background-color: green; /* Change color for active scene button */
  }
  
  .stop-seen-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  }
  